#lang{
display:inline-block;
font-size:small;
float:right;
}

#lang ul{
padding:0;
margin:0;
list-style:none;
position:relative;
}

#lang ul li{
margin:0px;
display:inline-block;
float:left;
}

#lang ul ul{
z-index:100;
display:none;
position:absolute;
right:0;
left:auto;
background-color:#000000;
opacity:0.9;
}

#lang ul li:hover > ul{
display:inherit;
}

#lang ul ul li{
white-space:nowrap;
float:none;
display:list-item;
position:relative;
}

#lang ul li img{
vertical-align:middle;
padding-right:5px;
}

#lang a{
display:block;
padding:0 15px;
line-height:39px;
}

#lang li > a:after{
content:'\00a0\00a0▼';
font-size:0.5rem;
vertical-align:middle;
}

#lang li > a:only-child:after{
content:'';
}

#lang a,
#lang a:link,
#lang a:visited {
color:#ffffff;
text-decoration:none;
}

#lang a:hover{
background:rgba(255,255,255,0.3);
}