#nav{
font-weight:bold;
display:inline-block;
padding:0;
font-size:16px;
}

#nav ul{
padding:0;
margin:0;
list-style:none;
}

#nav ul li{
margin:0;
display:inline-block;
}

#nav ul li:hover > ul{
display:inherit;
}

#nav ul ul{
display:none;
position:absolute;
}

#nav img{
vertical-align:middle;
}

#nav a{
display:block;
padding:0 15px;
line-height:39px;
}

#nav a,
#nav a:link,
#nav a:visited {
color:#ffffff;
text-decoration:none;
}

#nav a:hover{
background:rgba(255,255,255,0.3);
}

#nav .searchform{
width:200px;
margin-top:0;
}

#mobilenav{
display:none;
z-index:100;
font-size:18px;
}

#mobilenav img{
vertical-align:middle;
padding-bottom:2px;
}

#mobilenav ul{
padding:0;
margin:0;
list-style:none;
position:relative;
}

#mobilenav ul li{
margin:0px;
display:inline-block;
float:left;
}

#mobilenav ul li a{
display:block;
padding:0 15px;
line-height:39px;
}

#mobilenav ul li:hover > ul{
display:inherit;
}

#mobilenav ul ul li a{
display:block;
padding:0 15px;
line-height:60px;
}

#mobilenav ul ul{
z-index:100;
display:none;
position:absolute;
background-color:#000000;
opacity:0.9;
}

#mobilenav ul ul li{
white-space:nowrap;
float:none;
display:list-item;
position:relative;
}

#mobilenav a,
#mobilenav a:link,
#mobilenav a:visited {
color:#ffffff;
text-decoration:none;
}

#mobilenav a:hover{
background-color:#848484;
}

@media screen and (max-width:700px){
#nav{
display:none;
}
#mobilenav{
display:block;
}
}